@model IEnumerable<prjMasGlobalCommon.DTO.EmployeeDTO>

@{
    ViewData["Title"] = "Index";
}
    
<div class="search-container">
</div>

<div class="row justify-content-center">
    <div class="container h-100 text-info">
        <h2 class="text-center">Employees</h2>
        <div class="d-flex justify-content-center h-100">
            <div class="search">
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="idEmployee" name="idEmployee" ]">
                        <input type="submit" value="Search" class="btn btn-info center-block" id="SearchEmployeeButton"/>
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContractTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HourlySalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonthlySalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnnualSalary)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HourlySalary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthlySalary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnnualSalary)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
